.forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surprisedDog {
    width: 300px;
    height: 200px;
    margin-top: 160px;
}

.forgotPasswordH2 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.forgotPasswordH3 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.messageGreen {
    color: green;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.errorRed {
    color: red;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.typeEmail {
    border: none;
    background-color: rgb(105, 144, 167);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    width: 210px;
}

.forgotPasswordButtonDiv {
    margin-left: 30px;
}

.forgotPasswordButton {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(91, 135, 162);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px;
    cursor: default;
    margin-top: 10px;
    width: 150px;
}

.forgotPasswordButton:hover {
    background-color: rgb(50, 111, 149);
    transform: scale(1.1);
    transition: all 0.3s ease;
    font-weight: 700;
    cursor: pointer;
}

.cancelButton {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(91, 135, 162);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px;
    cursor: default;
    margin-top: 20px;
    width: 150px;
}

.cancelButton:hover {
    background-color: rgb(50, 111, 149);
    transform: scale(1.1);
    transition: all 0.3s ease;
    font-weight: 700;
    cursor: pointer;
}