.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.resetPasswordH2 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typeNewPassword {
    position: relative;
}

.confirmNewPassword {
    position: relative;
}

.newPasswordToggleIcon {
    position: absolute;
    color: black;
    top: 4px;
    right: 5px;
}

.confirmNewPasswordToggleIcon {
    position: absolute;
    color: black;
    top: 4px;
    right: 5px;
}

.typeNewPasswordInput {
    background-color: rgb(105, 144, 167);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
    text-align: left;
    width: 200px;
}

.resetPasswordButton {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(91, 135, 162);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px;
    cursor: default;
    margin-top: 10px;
    width: 210px;
}

.resetPasswordButton:hover {
    background-color: rgb(50, 111, 149);
    transform: scale(1.1);
    transition: all 0.3s ease;
    font-weight: 700;
    cursor: pointer;
}

.expiredLink {
    font-family: "Montserrat", sans-serif;
    color: red;
}

.requestNewLink {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}